{
  "Malort": {
    "username": "",
    "password": ""
  },
  "Jubilee": {
    "username": "",
    "password": ""
  },
  "Mead": {
    "username": "",
    "password": ""
  },
  "Sling": {
    "username": "",
    "password": ""
  },
  "Jenever": {
    "username": "",
    "password": ""
  },
  "Lagoon 2": {
    "username": "",
    "password": ""
  },
  "Meritage": {
    "username": "",
    "password": ""
  }
}